
body {
    margin:0;
    padding:0;
    background:url("/css/backgroundPicture") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.jumbotron{
   background-image: url("/css/backgroundImage");
   background-position: 0px 0px;
   background-repeat: repeat-x;
    width:1050px;
    color:rgb(240, 176, 15);
	animation: animatedBackground 5s linear infinite;
	
}
.btn{
    background-color: goldenrod;
}
  
a{
    color:gold;
    font-size: 22px;
}